.log {
    background-color: black;
    padding: 5px;
    margin: 5px;
    color: greenyellow;
    list-style: none;
    box-shadow: chocolate;
    font-family: monospace;    
}

.message {
    font-size: larger;
}

.fromhost {
    display: flex;
    flex-flow: column;
    font-size: small;
    align-content: right;
}

.receivedat {
    display: flex;
    flex-flow: column; 
    font-size: small;
}